.preview-bar {
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
	align-items: center;
	background: white;
	border-bottom: 1px solid #dadada;
	transition: box-shadow 300ms ease-in-out;
}

.App.fixed-bar {
	padding-top: 79px;
}

.App.fixed-bar .preview-bar {
	width: 100%;
	position: fixed;
	z-index: 999;
	top: 0;
	box-shadow: 5px 5px 13px 0px rgba(168, 168, 168, 0.2);
}

.preview-bar .primary-button {
	margin: 15px 0;
}

.preview-message h6 {
	font-size: .8em;
	letter-spacing: 8px;
	text-transform: uppercase;
	padding-left: 80px;
	text-align: left;
	margin: 0;
	font-weight: 200;
}