.navbar {
	height: 50px;
	background: #222;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
}

.logo h3 {
	color: white;
	font-size: 1.6em;
	margin: 0;
	padding: 0;
}

.nav-links a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8em;
	margin: 0 10px;
	padding: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	font-weight: 700;
}

@media only screen and (max-width: 500px) {
	.nav-links {
	    display: flex;
	    flex-wrap: wrap;
	}
	.nav-links a {
		width: 100%;
	    text-align: center;
   }
   .navbar {
   		height: auto;
   		flex-wrap: wrap;
   }
}	 