.template-preview {
	background: white;
	padding: 20px;
	box-shadow: 3px 5px 20px 0 rgba(72,76,145,0.50);
	width: 33.33%;
	margin: 40px;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 750px){
	.template-preview {
		width: 100%;
	}
}