::selection{
  background: #333;
  color: white;
}

#root, .App, html, body {
  position: relative;
  width: 100%;
  /*height: 100%;*/
  min-height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.page-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

/* Page Transitions */

.fade-enter{
  z-index:1;
  opacity:0;
  overflow:hidden
}

.fade-enter.fade-enter-active{
  opacity:1;
  transition:opacity .35s ease-in;
  overflow:hidden
}

.fade-leave{
  z-index:1;
  opacity:1;
  overflow:hidden
}

.fade-enter.fade-leave-active{
  opacity:0;
  transition:opacity .35s ease-in;
  overflow:hidden
}

/* Typography
============================================*/

h1, h2, h3, h4, h5 {
  color: #222;
  margin-top: 0;
  padding-top: 10px;
}

p {
  color: #48484d;
}

input, ul, li, button, a {
  font-family: 'Avenir', sans-serif;
}

input {
  font-size: 1.2em;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #c9c9c9;
  font-weight: 300;
  color: #424346;
}

input:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #888;
}

input::placeholder {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}

/* Buttons 
============================================*/

.primary-button {
  background-image: linear-gradient(45deg, #929BEF 0%, #63E2FF 100%);
  height: 48px;
  /*width: 100%;*/
  margin: 0;
  display: inline-flex;
  justify-content: center;
  position: relative;
  min-width: 190px;
  font-size: 12px;
  padding: 0px 30px;
  line-height: 46px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  font-weight: 700;
  font-family: 'Avenir';
  margin-top: 15px;
  box-shadow: 2px 2px 8px 0px rgba(83, 84, 103, 0.3);
  transition: all 300ms ease-in-out;
}

.primary-button:hover {
  transform: translateY(-1px);
  box-shadow: 2px 2px 8px 2px rgba(83, 84, 103, 0.3);
}

.primary-button span {
  /*color: white;*/
  /*font-weight: bold;*/
  /*font-size: .7em;*/
}
